.left-section-wrapper {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-section-main {
  padding: 60px;
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
}
